<div>
    <h2 id="page-heading">
        <span jhiTranslate="iTradeApp.signalSequences.home.title">Signal Sequences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-signal-sequences" [routerLink]="['/signal-sequences/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iTradeApp.signalSequences.home.createLabel">
            Create a new Signal Sequences
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="signalSequences?.length === 0">
        <span jhiTranslate="iTradeApp.signalSequences.home.notFound">No signalSequences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="signalSequences && signalSequences.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceName"><span jhiTranslate="iTradeApp.signalSequences.sequenceName">Sequence Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceIdentifier"><span jhiTranslate="iTradeApp.signalSequences.sequenceIdentifier">Sequence Identifier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sequenceDescription"><span jhiTranslate="iTradeApp.signalSequences.sequenceDescription">Sequence Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let signalSequences of signalSequences ;trackBy: trackId">
                    <td><a [routerLink]="['/signal-sequences', signalSequences.id, 'view']">{{ signalSequences.id }}</a></td>
                    <td>{{ signalSequences.sequenceName }}</td>
                    <td>{{ signalSequences.sequenceIdentifier }}</td>
                    <td>{{ signalSequences.sequenceDescription }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/signal-sequences', signalSequences.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/signal-sequences', signalSequences.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(signalSequences)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="signalSequences && signalSequences.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
