<div>
    <h2 id="page-heading">
        <span jhiTranslate="iTradeApp.priceDataHistory.home.title">Price Data Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-price-data-history" [routerLink]="['/price-data-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iTradeApp.priceDataHistory.home.createLabel">
            Create a new Price Data History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="priceDataHistories?.length === 0">
        <span jhiTranslate="iTradeApp.priceDataHistory.home.notFound">No priceDataHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="priceDataHistories && priceDataHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceTimeframe"><span jhiTranslate="iTradeApp.priceDataHistory.priceTimeframe">Price Timeframe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceDate"><span jhiTranslate="iTradeApp.priceDataHistory.priceDate">Price Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceTime"><span jhiTranslate="iTradeApp.priceDataHistory.priceTime">Price Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceOpen"><span jhiTranslate="iTradeApp.priceDataHistory.priceOpen">Price Open</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceHigh"><span jhiTranslate="iTradeApp.priceDataHistory.priceHigh">Price High</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceLow"><span jhiTranslate="iTradeApp.priceDataHistory.priceLow">Price Low</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceClose"><span jhiTranslate="iTradeApp.priceDataHistory.priceClose">Price Close</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="priceVolume"><span jhiTranslate="iTradeApp.priceDataHistory.priceVolume">Price Volume</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="instrument.ticker"><span jhiTranslate="iTradeApp.priceDataHistory.instrument">Instrument</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let priceDataHistory of priceDataHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/price-data-history', priceDataHistory.id, 'view']">{{ priceDataHistory.id }}</a></td>
                    <td jhiTranslate="{{ 'iTradeApp.TIMEFRAME.' + priceDataHistory.priceTimeframe }}">{{ priceDataHistory.priceTimeframe }}</td>
                    <td>{{ priceDataHistory.priceDate | date:'mediumDate' }}</td>
                    <td>{{ priceDataHistory.priceTime | date:'medium' }}</td>
                    <td>{{ priceDataHistory.priceOpen }}</td>
                    <td>{{ priceDataHistory.priceHigh }}</td>
                    <td>{{ priceDataHistory.priceLow }}</td>
                    <td>{{ priceDataHistory.priceClose }}</td>
                    <td>{{ priceDataHistory.priceVolume }}</td>
                    <td>
                        <div *ngIf="priceDataHistory.instrument">
                            <a [routerLink]="['/instrument', priceDataHistory.instrument?.id, 'view']" >{{ priceDataHistory.instrument?.ticker }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/price-data-history', priceDataHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/price-data-history', priceDataHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(priceDataHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="priceDataHistories && priceDataHistories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
