<div>
    <h2 id="page-heading">
        <span jhiTranslate="iTradeApp.instrument.home.title">Instruments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-instrument" [routerLink]="['/instrument/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iTradeApp.instrument.home.createLabel">
            Create a new Instrument
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="instruments?.length === 0">
        <span jhiTranslate="iTradeApp.instrument.home.notFound">No instruments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="instruments && instruments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataProvider"><span jhiTranslate="iTradeApp.instrument.dataProvider">Data Provider</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ticker"><span jhiTranslate="iTradeApp.instrument.ticker">Ticker</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="exchange"><span jhiTranslate="iTradeApp.instrument.exchange">Exchange</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="iTradeApp.instrument.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataFrom"><span jhiTranslate="iTradeApp.instrument.dataFrom">Data From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="isActive"><span jhiTranslate="iTradeApp.instrument.isActive">Is Active</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateAdded"><span jhiTranslate="iTradeApp.instrument.dateAdded">Date Added</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateInactive"><span jhiTranslate="iTradeApp.instrument.dateInactive">Date Inactive</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let instrument of instruments ;trackBy: trackId">
                    <td><a [routerLink]="['/instrument', instrument.id, 'view']">{{ instrument.id }}</a></td>
                    <td jhiTranslate="{{ 'iTradeApp.DATAPROVIDER.' + instrument.dataProvider }}">{{ instrument.dataProvider }}</td>
                    <td>{{ instrument.ticker }}</td>
                    <td>{{ instrument.exchange }}</td>
                    <td>{{ instrument.description }}</td>
                    <td>{{ instrument.dataFrom | date:'mediumDate' }}</td>
                    <td>{{ instrument.isActive }}</td>
                    <td>{{ instrument.dateAdded | date:'mediumDate' }}</td>
                    <td>{{ instrument.dateInactive | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/instrument', instrument.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/instrument', instrument.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(instrument)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
